<section class="slide fade kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <h1 class="small ae-1">Say Hello</h1>
        <div class="ae-2"><p><!-- Feel free to ask anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. anything about our products. --> </p></div>
        <div class="fix-8-12 box-55">


          <div class="pad shadow selected ae-1">
            <form id="contact-form" action="ajax-email.php" method="post" class="wide center">
             <ul class="grid later equal">
                  <li class="col-6-12">
                      <label class="uppercase ae-4" for="name55">Vidrio</label>
                      <input class="stroke round ae-5 wide" type="text" name="vidrio" placeholder="Vidrio Quantity" required/>
                  </li>
                  <li class="col-6-12">
                      <label class="uppercase ae-4">Carton</label>
                      <input class="stroke round ae-5 wide"  type="text" name="carton" placeholder="Carton Quantity" required/>
                  </li>
              </ul>
               <ul class="grid later equal">
                   <li class="col-6-12">
                      <label class="uppercase ae-4" for="name55">Lata</label>
                      <input class="stroke round ae-5 wide" type="text" name="lata" placeholder="Lata Quantity" required/>
                  </li>
                  <li class="col-6-12">
                      <label class="uppercase ae-4" for="name55">Plastico</label>
                      <input class="stroke round ae-5 wide" type="text" name="plastico" placeholder="Plastico Quantity" required/>
                  </li>
              </ul>
              <label class="uppercase ae-8" for="message55">Message</label>
              <textarea class="stroke round left ae-9" id="message55" type="text" name="message" placeholder="Message" required></textarea>
              <label class="uppercase ae-6" for="email55">Address</label>
              <input class="stroke round ae-7 wide" id="email55" type="text" name="email" placeholder="Address" required/>
              <input class="button wide pink round uppercase ae-10 button-55" type="submit" name="submit" value="Send message"/>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(<%= asset_path 'img-55.jpg' %>)"></div>
</section>